---
import Layout from '../layouts/Layout.astro';
import productD from '../img/image-product-desktop.jpg';
import productM from '../img/image-product-mobile.jpg';
import iconCart from '../img/icon-cart.svg';
---

<Layout title="Welcome to Astro.">
	<main class="bg-[#f2ebe3] grid place-content-center h-screen p-4">
		<div class="grid grid-cols-1 md:grid-cols-2 bg-white overflow-hidden rounded-lg shadow-sm max-w-[340px] md:max-w-[38rem] w-full">
			<div class="h-[240px] md:h-[29rem]">
				<img src={productM} alt="Gabrielle Essence Eau De Parfum" class="object-cover h-full md:hidden">
				<img src={productD} alt="Gabrielle Essence Eau De Parfum" class="object-cover h-full hidden md:block">
			</div>
			<div class="p-8 font-monserrat">
				<h3 class="tracking-[0.4rem] mb-4 text-xs text-[#6c7289]">PERFUME</h3>
				<h1 class="font-fraunces text-[32px] leading-[1.05] mb-5">Gabrielle Essence Eau De Parfum</h1>
				<p class="text-[14px] text-[#6c7289] leading-6 mb-6">A floral, solar and voluptuous interpretation composed by Oliver Polge, Perfumer-Creator for the House of CHANEL.</p>

				<div class="flex items-center mb-4">
					<h2 class="font-fraunces text-[#3c8067] text-[32px] font-bold">$149.99</h2>
					<span class="text-[#6c7289] line-through text-sm ml-4 block">$169.00</span>
				</div>
				<button class="transition shadow-sm w-full text-[14px] flex items-center justify-center bg-[#3c8067] text-white text-center px-2 py-4 rounded-lg font-bold hover:bg-[#285645]"><img src={iconCart} alt="Add cart" class="w-3 mr-3"> Add to Cart</button>
			</div>
		</div>
	</main>
</Layout>
