---
import Layout from '../layouts/Layout.astro';
import productD from '../img/image-product-desktop.jpg';
---

<Layout title="Welcome to Astro.">
	<main class="bg-red-300 grid place-content-center">
		<div class="flex">
			<div class="col">
				<img src={productD} alt="Gabrielle Essence Eau De Parfum">
			</div>
			<div class="col">
				<h5>PERFUME</h5>
				<h2>Gabrielle Essence Eau De Parfum</h2>
				<p>A floral, solar and voluptuous interpretation composed by Oliver Polge, Perfumer-Creator for the House of CHANEL.</p>

				<h3>$149.99 <span>$169.00</span></h3>
				<button>Add Card</button>
			</div>
		</div>
	</main>
</Layout>
