---
import Layout from '../layouts/Layout.astro';
import productD from '../img/image-product-desktop.jpg';
import iconCart from '../img/icon-cart.svg';
---

<Layout title="Welcome to Astro.">
	<main class="bg-yellow-50 grid place-content-center h-screen">
		<div class="grid grid-cols-2 bg-white overflow-hidden rounded-lg shadow-sm">
			<div class="w-56">
				<img src={productD} alt="Gabrielle Essence Eau De Parfum">
			</div>
			<div class="px-6 py-6 w-56 font-monserrat">
				<h5 class="tracking-widest text-xs text-gray-400">PERFUME</h5>
				<h2 class="font-fraunces">Gabrielle Essence Eau De Parfum</h2>
				<p class="text-xs text-gray-500 mb-4 leading-5">A floral, solar and voluptuous interpretation composed by Oliver Polge, Perfumer-Creator for the House of CHANEL.</p>

				<div class="flex">
					<h3 class="font-fraunces text-cyangray">$149.99</h3>
					<span>$169.00</span>
				</div>
				<button class="w-full bg-green-700 text-sm flex items-center justify-center bg-cyangray text-white text-center p-2 rounded-md font-medium"><img src={iconCart} alt="Add to cart" class="w-3 mr-3"> Add to Cart</button>
			</div>
		</div>
	</main>
</Layout>
